<div class="form-builder-container">
  <h2>Form Builder</h2>


  <form [formGroup]="form">


    <div class="input-group">
      <label for="inputName">Field Name:</label>
      <input type="text" id="inputName" placeholder="Enter field name" formControlName="inputName" />
      <div *ngIf="form.get('inputName')?.invalid && form.get('inputName')?.touched" class="error-message">
        Field Name is required.
      </div>
    </div>


    <div class="input-group">
      <label for="inputType">Field Type:</label>
      <select id="inputType" formControlName="inputType">
        <option value="text">Text</option>
        <option value="email">Email</option>
        <option value="radio">Radio</option>
        <option value="checkbox">Checkbox</option>
        <option value="dropdown">Dropdown</option>
        <option value="file">File</option>
        <option value="number">Number</option>
      </select>
    </div>


    <div class="input-group">
      <label for="inputRequired">Required:</label>
      <input type="checkbox" id="inputRequired" formControlName="inputRequired" />
    </div>


    <div class="input-group">
      <label for="inputLabel">Label:</label>
      <input type="text" id="inputLabel" placeholder="Enter field label" formControlName="inputLabel" />
      <div *ngIf="form.get('inputLabel')?.invalid && form.get('inputLabel')?.touched" class="error-message">
        Field Label is required.
      </div>
    </div>


    <button class="add-button" (click)="addToTable()">Add to Table</button>

  </form>

  <h3>Form Elements</h3>
  <table id="dynamicTable" class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Required</th>
        <th>Label</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of formElements">
        <td>{{ element.name }}</td>
        <td>{{ element.type }}</td>
        <td>{{ element.required ? 'Yes' : 'No' }}</td>
        <td>{{ element.label }}</td>
      </tr>
    </tbody>
  </table>


  <div class="button-group">
    <button class="generate-button" (click)="navigateToViewer()">Generate HTML</button>
    <button class="download-button" (click)="downloadHTML()">Download HTML</button>
  </div>
</div>
